<center><h1 style="color: royalblue;">Todo-List</h1></center>

<center><h3 style="color:orange;">Welcome to our website </h3></center>
 <center><%= link_to 'All todos', todolists_path %></center>
<center><img src="https://images.unsplash.com/photo-1528938102132-4a9276b8e320?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" height="400"></center>
<center><%= link_to 'New Task',new_todolist_path  %></center>
<center><%= link_to 'logout',controller: 'users'  %></center>
